html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Kalam', cursive;
}

* {
  margin: 0;
}

.header-hero {
    background-color: black;
   padding: 40px 10px;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo h1 {
    font-size: 22px;
  }
  .logo img {
    height: 40px;
    margin-right: 10px;
  }
  
  nav {
    display: flex;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    text-decoration: none;
    color:white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #F1813B;
    border-bottom: 3px solid #F1813B;
  }
  
  h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 50px;
  }
  #hero {
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
  }
 
  .hero-content {
    text-align: left;
    color: #ffffff;
    max-width: 600px;
    padding: 40px;
    border-radius: 10px;
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 24px;
    line-height: 1.5;
    padding-bottom: 40px;
  }
  span {
    color:#F1813B;
    font-family: 'Bebas Neue';
  }
  
  .cta-button {
    background-color: #F1813B;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: 'Bebas Neue';
    margin-bottom: 5px;
  }
  .cta-button-empty{
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #F1813B;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: 'Bebas Neue';
  }
  
  .cta-button:hover {
    background-color: #EC583C;
    color: white;
  }

  .features-heading {
    padding-top: 80px;
    text-align: center;
    font-size: 40px;
    color: white;
  }

  #features {
    background-image: url('./images/section-bg.jpeg');
    background-size: cover;
  }
  .overlay {
    background:linear-gradient(rgba(86, 79, 79, 0.529),rgba(0, 0, 0, 0.621));
    padding: 80px 10px;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 35px;
    padding-bottom: 100px;
    color: white;
    padding:35px 20px 100px 20px;
  }
  
  .feature {
    text-align: left;
    width: 30%;
    padding: 30px;
    height: 300px;
    background-color: #F1813B;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-bottom: 40px;
  }
  .feature:first-child, .feature:nth-child(3){
    height: 250px;
    text-align: left;
    flex-grow: 2;
    background-color: black;
  }

  .feature:first-child{
    border: 1px solid rgb(47, 46, 46);
    background-color: rgba(29, 29, 29, 0.774);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .feature:nth-child(3){
    border: 1px solid rgb(45, 44, 44);
    background-color: rgba(29, 29, 29, 0.774);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
  }

  
  .feature i {
    color: black;
    margin-bottom: 20px;
  }
  .feature:first-child > i, .feature:nth-child(3) > i{
    color: #ffffff;
  }
  
  .feature h3 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .feature p {
    font-size: 18px;
    line-height: 1.5;
  }

  #about {
    background-color: rgb(237, 237, 237);
    padding: 100px 30px;
  }
  .about-heading {
    text-align: left;
    margin-bottom: 0px;
  }
  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  .about-content > div {
    padding: 30px;
    width: 400px;
  }
  h3 {
    padding-top: 20px;
  }

  .about-img{
    width: 550px;
  }
  #news {
    padding: 70px 10px;
    background:linear-gradient(rgb(0, 0, 0),black);
    background-image: url('/images/news-bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  #news-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .article-container {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
    background-color: #F1813B;
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
  }
  #news > h2 {
    color: white;
    margin: 20px 10px;
  }
  
  .article-image {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  
  .article-title {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
    color: white;
  }
  
  .article-link {
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  .article-link:hover{
    text-decoration: underline;
  }
  #contact {
    background-color: black;
    background-position: center center;
    padding: 100px 0;
    color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input, textarea {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #000000;
    border-bottom: 1px solid gray;
    color: #F1813B;
    font-family: 'Bebas Neue';
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #F1813B;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Bebas Neue';
  }
  
  button:hover {
    background-color: #EC583C;
    
  }
  
  .contact-container {

    max-width: 960px;
    margin: 0 ;
    padding: 0 20px;
  }
  .contact-img{
    width: 500px;
  }

  footer {
    background-color: black;
    color: #ffffff;
    padding: 50px 0;
  }
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  footer h3 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    margin-bottom: 20px;
    
  }
  
  .social-icons a {
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
    color: #F1813B;
  }
  
  .social-icons a:hover {
    color: #EC583C;
  }
  .footer-col{
    text-align: left;
  }
  .footer-col > p > i{
    color: #F1813B;
  }
  
  
  
  
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      padding: 20px;
    }
    .header-hero {
      height: auto;
    }
    #hero {
      flex-direction: column;
      height: auto;
    }
    .logo {
      margin-bottom: 20px;
    }
    
    nav {
      margin-top: 10px;
    }
    nav ul {
      flex-wrap: wrap;
    }
    
    nav li {
      flex-direction: column;
    }

    .features {
        flex-direction: column;
    }

    .feature {
        height: 250px;
        width: auto;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .feature:first-child{
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 0px;
    }
    
    .feature:nth-child(3){
      border-top-right-radius: 0px;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
    }

    #about {
        background-size: 250px;
    }
    .about-content {
        
       flex-direction: column;
    }
    #news-feed {
      flex-direction: column;
    }
    .footer-container {
      flex-direction: column;
      justify-content: center;
    }  
    .footer-col{
      text-align: center;
    }
  }



